@import "./components/nav.scss";
@import "./components/blog.scss";
@import "./components/podcast.scss";
@import "./components/home.scss";
@import "./components/books.scss";
@import "./components/about.scss";
@import "./components/general.scss";
