nav {
  padding: 2rem 1rem 2rem 1rem !important; }

.navbar-mobile {
  display: none !important; }

.nav--mobile {
  display: grid; }

.nav--logo {
  height: 4.6rem;
  margin-left: 3rem; }

@media (min-width: 575.98px) {
  nav {
    padding: 2rem 2rem 2rem 2rem !important; }
  .nav--logo {
    height: 5rem;
    margin-left: 5rem; } }

@media (max-width: 767.98px) {
  .nav--mobile {
    display: flex; } }

@media (max-width: 767.98px) {
  .navbar-nav {
    display: none !important; }
  .navbar-mobile {
    display: block !important; }
  .nav--logo {
    height: 5rem; } }

.home {
  margin-top: 0rem; }

.home-scroll {
  overflow-y: scroll;
  max-height: 100rem; }

.img-height-card {
  height: 18rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.2% !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden; }

body {
  font-family: "Playfair Display", serif !important;
  overflow-x: hidden; }

ul {
  padding-left: 0rem !important; }

li {
  list-style: none;
  color: #fff; }

a {
  text-decoration: none !important;
  color: #000 !important; }

.font-semi-title {
  font-size: 1.8rem; }

.button {
  padding: 1rem 3rem; }

ion-icon {
  font-size: 2rem; }

.padding-bottom {
  padding-bottom: 2rem; }

.news {
  border-radius: 0 !important;
  padding: 0.8rem !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important; }
