.home {
  margin-top: 0rem;
}

.paragraph-none {
  display: none;
}

.section-1-2 {
  margin-top: 2rem !important;
}

// SECTION 2
.section-2 {
  margin-top: 4rem;
  padding: 2rem 0rem;

  &__title {
    border-top: 2px solid #d1cdcd;
    border-bottom: 2px solid #d1cdcd;
  }

  .arrow-size {
    height: 2.6rem;
  }

  .home-card-ipad {
    display: none;
  }

  .home-card-desktop {
    display: none;
  }
}

// SECTION 3
.section-3 {
  margin-top: 4rem;
  padding: 2rem 0rem;
}

.section-2__title {
  justify-content: center;
}

// LAST SECTION

// SECTION 4
.section-4 {
  margin-top: 16rem;
}

.home-last-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

// FOOTER
footer {
  margin-top: 14rem;
}

.news {
  border: none !important;
  padding: 1rem !important;
  background-color: transparent !important;
  border-bottom: 2px solid #191919 !important;
  border-radius: 0 !important;
}

@media (min-width: 425.98px) {
  .fs-1 {
    font-size: 2.8rem !important;
  }

  .home {
    margin-top: 2rem;
  }

  .home-last-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 575.98px) {
  .home-card-ipad {
    display: block !important;
  }

  .fs-2 {
    font-size: 2.4rem;
  }

  .home-last-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 767.98px) {
  .section-1-2 {
    margin-top: 0rem !important;
  }

  .home-card-desktop {
    display: block !important;
  }

  .paragraph-none {
    display: block;
  }

  .section-2__title {
    justify-content: start !important;
  }
}

@media (min-width: 991.98px) {
  .fs-1 {
    font-size: 3.8rem !important;
  }

  .fs-2 {
    font-size: 2.6rem !important;
  }

  .fs-3 {
    font-size: 2.4rem !important;
  }
}

@media (min-width: 1199.98px) {
  .fs-1 {
    font-size: 3.8rem !important;
  }

  .fs-2 {
    font-size: 2.6rem !important;
  }

  .fs-3 {
    font-size: 2.4rem !important;
  }

  .home-last-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1399.98px) {
  .fs-1 {
    font-size: 4.4rem !important;
  }

  .fs-2 {
    font-size: 3rem !important;
  }

  .fs-3 {
    font-size: 2.8rem !important;
  }

  .home-last-section {
    grid-template-columns: repeat(5, 1fr);
  }
}
